@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.min-height-full {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.stack-r *:not(:last-child) {
  margin-right: 1rem;
}

.stack > *:not(:last-child) {
  margin-bottom: 1rem;
}

.margin-b-0 {
  margin-bottom: 0 !important;
}

.margin-r {
  margin-right: 1rem;
}

